#defaultBackgroundField{
	-fx-background-color: #F4DDC9;
	-fx-background-radius: 25;
	-fx-border-color: #B1BCBE;
	-fx-border-radius: 20;
	-fx-border-width: 3.5;
}

#homeButton{
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

#transparentButton{
	-fx-background-color: transparent;
	-fx-background-radius: 18;
	-fx-border-color: transparent;
	-fx-border-radius: 15;
}

#transparentButton:hover{
	-fx-background-color: #E0CBB9;
	-fx-border-color: #D4C0AF;
	-fx-border-width: 3;
}
