#defaultBackgroundField{
	-fx-background-color: #F4DDC9;
	-fx-background-radius: 25;
	-fx-border-color: #B1BCBE;
	-fx-border-radius: 20;
	-fx-border-width: 3.5;
	-fx-effect: dropshadow(three-pass-box, rgba(70, 50, 30, 0.9), 30, 0, 7, 11);
}

#loginButton{
	-fx-background-color: #D98027;
}

#loginButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.8), 5, 0, 1, 1);
}

#homeButton{
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

#homeButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.9), 10, 0, 2, 4);
}

#transparentButton{
	-fx-background-color: transparent;
	-fx-background-radius: 18;
	-fx-border-color: transparent;
	-fx-border-radius: 15;
	-fx-border-width: 3;
}

#transparentButton:hover{
	-fx-background-color: #E5D0BE;
	-fx-border-color: #D4C0AF;
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.9), 10, 0, 2, 4);
}
