#defaultBackgroundField{
	-fx-background-color: #F4DDC9;
	-fx-background-radius: 25;
	-fx-border-color: #B1BCBE;
	-fx-border-radius: 20;
	-fx-border-width: 3.5;
	-fx-effect: dropshadow(three-pass-box, rgba(70, 50, 30, 0.9), 30, 0, 7, 11);
}

#tableBackgroundField{
	-fx-background-color: #F4DDC9;
}

#loginButton{
	-fx-background-color: #D98027;
}

#loginButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.8), 5, 0, 1, 1);
}

#homeButton{
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

#homeButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.9), 10, 0, 2, 4);
}

#removeButton{
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

#removeButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.6), 2, 0, 0, 0);
}

#transparentButton{
	-fx-background-color: transparent;
	-fx-background-radius: 18;
	-fx-border-color: transparent;
	-fx-border-radius: 15;
	-fx-border-width: 3;
}

#transparentButton:hover{
	-fx-background-color: #E5D0BE;
	-fx-border-color: #D4C0AF;
	-fx-effect: dropshadow(three-pass-box, rgba(100, 90, 70, 0.9), 10, 0, 2, 4);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .filler{
	-fx-background-color: #F4DDC9;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
